<div style="background-image: url(img/ho-guom-3.jpg);height: 100%; width: 100%;
    background-size: cover;">
  <img src="img/logo.png" class="login_logo">
  <div class="login_form">
    <div class="login_div_input">
      <input focus-me type="text" name="" class="login_input" ng-model="username" style="width: 100%;height: 100%;padding-left: 10px;font-size: 18px" placeholder="Username">
    </div>
    <div class="login_div_input">
      <input type="password" name="" class="login_input" ng-model="password" style="width: 100%;height: 100%;padding-left: 10px;font-size: 18px" placeholder="Password">
    </div>
    <div>
      <div class="login_button" ng-click="login()">Login  </div>
    <!-- <div class=" qrcode_button ion-camera"  ng-click="onQrcode()"></div> -->
    </div>
    <div style="position: absolute;
    bottom: 0px;
    z-index: 99;
    color: blue;
    text-align: center;
    width: 100%;">Version 2.3 - Helio Internal App</div>
  </div>


<!--   <div class="card">
    <h1 class="title">Login</h1>
    <form>
      <div class="input-container">
        <input type="text" id="Username" required="required"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><spasn>Go</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
  </div> -->
 </div>
