<ion-view view-title="Order" align-title="right" ng-click="reload()">
    <div class="order_div_detail">
        <ion-content class="order_log_editting" delegate-handle="mainScroll" ng-click="clickOrderDetail()">
            <div ng-repeat="x in edittingOrder.listProd track by $index" style="border-bottom: solid 1px #989494;">
                {{$index+1}}.
                <span style="font-weight: bold">
        {{x.prodname}}: 
      </span>
                <span ng-repeat="item in x.options">
        <!-- {{item.opttypename}} -->
<span style="text-transform: lowercase;" ng-if="$index<x.options.length-1"> {{item.selected.optdetailname}},</span>
                <span style="text-transform: lowercase;" ng-if="$index>=x.options.length-1"> {{item.selected.optdetailname}}</span>
                </span>
            </div>
            <div style="height:30px;text-align: center;"></div>
        </ion-content>

        <button ion-button color="light" style="position: absolute;
    right: 37vw;
    top: 135px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    background: ##e5e5e5;
    " ng-click="addCartOnline()">Add Cart Online</button>
        <div class="order_div_userinfo">
            <div class="order_username">{{user.username}}</div>
            <div class="order_userid">Mã số: {{user.userid}}</div>
        </div>
        <!-- clickChooseTable() clickScanQR() -->
        <!-- <button ng-click="clickChooseTable()" class="button_right_bottom_bar" id="shoporder" style="top:99px;right: 3%;width: 28%;height: 70px;text-align: center;font-weight: bold;font-size: 18px" ng-style="listTable.selected == null ? {background:'white'}:{background:'white'}">
      <img src="img/arrow_down.png" class="button_right_bottom_img" /> {{listTable.selected.shoptablename}}
    </button> -->
        <div class="button_right_bottom_bar" style="top: 99px;right: 3%;width: 28%;height: 70px;border-radius: 5px;text-align: right;font-weight: bold;font-size: 18px;background: #b2b2b2;" ng-click="showlistTable()">
            <div style="text-align: -webkit-left;
    margin-top: 33px;
    margin-left: 13px;
    color: rgba(0, 0, 0, 0.7);
    font-size: x-large;">{{listTable.selected.shoptablename}}</div>
            <!-- button scan qr code -->
            <div class=" option_type_input_img qrcode_button ion-camera" style=" 
                 right: -15%;
    width: 45px;
    top: -14px;
    font-size: 200%;
    color: rgba(0, 0, 0, 0.7);" ng-click="addCartOnline()"></div>
            <!-- <div class="option_showdetail ng-hide" style=" right: inherit;  width: 94%; height: 70%; overflow: auto;" ng-show="isShow">
               
                <div>
                    <div ng-repeat="x in listTable.list" ng-if="$index % 4 == 0" style="display: -webkit-box;height: 37px;line-height: 35px; margin-top: 5%">
                        <div class="tabledetail_col" ng-if='$index < listTable.list.length' style="" ng-click="chooseTable($index)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index].shoptablename}}
                            </div>
                        </div>
                        <div class="tabledetail_col" ng-if='$index + 1 < listTable.list.length' style="" ng-click="chooseTable($index + 1)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index+1] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index+1].shoptablename}}
                            </div>
                        </div>
                        <div class="tabledetail_col" ng-if='$index + 2< listTable.list.length' style="" ng-click="chooseTable($index + 2)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index+2] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index+2].shoptablename}}
                            </div>
                        </div>
                        <div class="tabledetail_col" ng-if='$index + 3 < listTable.list.length' style="" ng-click="chooseTable($index + 3)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index+3] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index+3].shoptablename}}
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 5%;"></div>
                </div>
            </div> -->
        </div>
        <!-- <button ng-click="clickOrderDetail()" class="button_right_bottom_bar" style="width: 13%; height:70px; position:absolute; top:99px; right:3%; color:white; font-size:13px; font-weight:bold; font-size:14px; background-color: red; text-align: center;">ORDER
    </button> -->
    </div>
    <tab-slide-box>
        <div class="tsb-icons">
            <div class="tsb-ic-wrp">
                <ion-scroll direction="x" class="tsb-hscroll">
                    <a href="javascript:;" ng-repeat="tab in listCategory" on-finish-render="initSlide()">{{tab.catename}}</a>
                </ion-scroll>
            </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" delegate-handle="image-viewer">
            <ion-slide ng-repeat="item in listCategory">
                <div style="width: 90%;">
                    <ion-content class="listProductStyle" has-bouncing="false">
                        <div ng-repeat="x in goTabsCate(item)" ng-if="$index%3==0" style="display: -webkit-box;">
                            <div class="order_prod_col" ng-if="$index<listProd.length" ng-click="showProdOption(goTabsCate(item)[$index])">
                                <img src={{listProd[$index].prodimg}} class="order_prod_img">
                                <div class="order_prod_name_contains">
                                    <div class="order_prod_name">{{listProd[$index].prodname}} </div>
                                    <div class="order_prod_price">{{utils.formatMoney(listProd[$index].prodprice)}} </div>
                                </div>
                            </div>
                            <div class="order_prod_col" ng-if="$index+1<listProd.length" ng-click="showProdOption(goTabsCate(item)[$index+1])">
                                <img src={{listProd[$index+1].prodimg}} class="order_prod_img">
                                <div class="order_prod_name_contains">
                                    <div class="order_prod_name">{{listProd[$index+1].prodname}} </div>
                                    <div class="order_prod_price">{{utils.formatMoney(listProd[$index+1].prodprice)}} </div>
                                </div>
                            </div>
                            <div class="order_prod_col" ng-if="$index+2<listProd.length" ng-click="showProdOption(goTabsCate(item)[$index+2])">
                                <img src={{listProd[$index+2].prodimg}} class="order_prod_img">
                                <div class="order_prod_name_contains">
                                    <div class="order_prod_name">{{listProd[$index+2].prodname}} </div>
                                    <div class="order_prod_price">{{utils.formatMoney(listProd[$index+2].prodprice)}} </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 10%"></div>
                    </ion-content>
                </div>
            </ion-slide>
        </ion-slide-box>
    </tab-slide-box>
    <!-- popup detail order -->
    <div style="position: absolute;height: 100%;width: 100%;background: rgba(0, 0, 0, 0.4);top:0px;" ng-if="isShowOrderDetail">
        <div style="width: 100%;height: 100%;background: transparent;position: relative;">
            <div class="orderdetail_popup" id="oderdetailModal">
                <h1 class="orderdetail_popup_title">{{listTable.selected.shoptablename}}</h1>
                <!-- <img class="pop_1_close2" src="img/popup/btn_close.png" ng-click="closePopup()"> -->
                <ion-content style="height: 79%">
                    <div ng-repeat="x in edittingOrder.listProd track by $index" style="padding: 10px; position: relative;border-bottom: solid 1px red;width: 100%">
                        <div style=" position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 100" ng-click="clickEditOrder(x,$index)"></div>
                        <img src="{{x.prodimg}}" class="orderdetail_img">
                        <div class="orderdetail_prod_name">{{x.prodname}} - {{$index + 1}}</div>
                        <div style="position: absolute;top: 40px;left: 125px;width: 60%">
                            <div ng-repeat="item in x.options">
                                {{item.selected.optdetailname}}
                            </div>
                        </div>
                        <div class="orderdetail_btn_delete" ng-click="clickDelete(x, $index)">Xóa</div>
                    </div>
                    <!-- <div style="height: 45px"></div> -->
                </ion-content>
                <div>
                    <input type="tel" name="" placeholder="Note..." class="orderdetail_note" ng-model=edittingOrder.orderNote>
                </div>
                <div class="orderdetail_btn_clear" ng-click="closePopup()">Cancel</div>
                <div class="orderdetail_btn_order"  ng-if="isOrder" ng-click="doOrder()">Order</div>
            </div>
            <div style="height: 100%;
    width: 100%;
    position: absolute;
    background: red;
    z-index: 1;
    background: transparent;"></div>
        </div>
    </div>
    <!-- popup list table -->
    <div style="position: absolute;height: 100%;width: 100%;background: rgba(0, 0, 0, 0.4);top:0px;" ng-if="isShow">
        <div style="width: 100%;height: 100%;background: transparent;position: relative;">
            <div class="orderdetail_popup" id="oderdetailModal" style="overflow: auto">
                <div>
                    <div ng-repeat="x in listTable.list" ng-if="$index % 4 == 0" style="display: -webkit-box;height: 37px;line-height: 35px; margin-top: 5%">
                        <div class="tabledetail_col" ng-if='$index < listTable.list.length' style="" ng-click="chooseTable($index)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index].shoptablename}}
                            </div>
                        </div>
                        <div class="tabledetail_col" ng-if='$index + 1 < listTable.list.length' style="" ng-click="chooseTable($index + 1)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index+1] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index+1].shoptablename}}
                            </div>
                        </div>
                        <div class="tabledetail_col" ng-if='$index + 2< listTable.list.length' style="" ng-click="chooseTable($index + 2)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index+2] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index+2].shoptablename}}
                            </div>
                        </div>
                        <div class="tabledetail_col" ng-if='$index + 3 < listTable.list.length' style="" ng-click="chooseTable($index + 3)">
                            <div class="tabledetail_col_chirld" ng-style="listTable.selected == listTable.list[$index+3] ? {background:'#5a3510'} : {background:'#975d24'}">
                                {{listTable.list[$index+3].shoptablename}}
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 5%;"></div>
                </div>
                <div style="
    width: 100%;
    position: absolute;
    background: red;
    z-index: 1;
    background: transparent;"></div>
            </div>
        </div>
    </div>  
    <!-- option popup -->
    <div style="position: absolute;height: 100%;width: 100%;background: rgba(0, 0, 0, 0.4);top:0px;" ng-if="isShowProdOption">
        <div style="width: 100%;height: 100%;background: transparent;position: relative;">
            <div class="orderdetail_popup" id="oderdetailModal" style="width: 68%;left: 16%;">
                <div class="option_prodname">{{prodOptions.prod.prodname}}</div>
                <div ng-repeat="x in prodOptions" style="padding-left: 10%;padding-top: 5%;position: relative; display: -webkit-box; margin-bottom: 5px">
                    <div class="option_type_name">
                        {{x.opttypename}}
                    </div>
                    <div class="option_type_input listOption" ng-click="show(x)">
                        <div class="option_type_input_name">{{x.selected.optdetailname}}</div>
                        <img src="img/arrow_down.png" class="option_type_input_img">
                        <div class="option_showdetail" ng-show="x.isShow" ng-style="x.option.length > 8 ? {overflow: 'auto',
    height: '340px'} : {}">
                            <div class="item-accordion" ng-repeat="item in x.option" ng-show="x.isShow" ng-click="clickChooseOption(x,item)" ng-style="x.selected==item?{background:'#ffd0a3'}:{background:'white'}">
                                {{item.optdetailname}}
                            </div>
                        </div>
                    </div>
                </div>
                <form name="userForm">
                <div style="display: inline;">
                    <button class="optionbutton ion-android-remove-circle" style="border: none;background: inherit;" ng-click=" quantity_product <1 ?quantity_product=0: quantity_product = quantity_product - 1"></button>

                    <input class="optioninput" ng-model="quantity_product" tyle="number" min="1" max="99" style="
            width: 23%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;" placeholder="{{quantity_product}}" required>
                    <button name="input" class="optionbutton ion-android-add-circle" style="border: none;background: inherit;margin-left: 0%" ng-click="quantity_product = quantity_product + 1"></button>
                </div>
                </form>
                <div class=" button button-assertive-OK" ng-click="addProductToOder(quantity_product)">OK</div>
                <!-- </ion-content> -->
            </div>
            <div ng-click="closePopup()" style="height: 100%;
    width: 100%;
    position: absolute;
    background: red;
    z-index: 1;
    background: transparent;"></div>
        </div>
    </div>
</ion-view>
