<div class="popupView">
  <div class="popupViewMessage">
    {{configPopup.message}}
  </div>
  <!-- <img src="img/11.png" class="od_11_order" / ng-click="configPopup.function()">
  <img src="img/doc.png" class="od_ngang_order" />
  <button class=" button button-clear button-full button-positive od_btn_left" style="position:absolute;bottom:-12px" ng-click="configPopup.function()">{{configPopup.buttonName}}</button> -->
  <div class="orderdetail_btn_order" ng-click="configPopup.function()" style="left: 5%;">{{configPopup.buttonName}}</div>
</div>
